{%extends 'all-projects/base.html'%}
{% load bootstrap3 %}

{% block content %}

<div style='font-size:20px;' class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{projecthub_item.project_image.url}}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{user.username}}</h3>
        <em>click my profile photo for more</em><br>
        <br>
        <a style='font-size:20px;' href="{%url 'new-profile'%}">Update Profile</a>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{user.username}}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{projecthub_item.project_image.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">{{user.username}}<small>{{ projecthub_item.profile_location }}</small></h3>
                    <span><strong>Contacts: </strong></span>
                        <span class="label label-warning">{{ projecthub_item.profile_contact }}</span>
                        
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>{{ projecthub_item.profile_bio }}</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <p class="text-left"><strong>Updated</strong>{{ projecthub_item.pub_date|timesince }} ago</p>
                    <button style='font-size:12px;' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}