{%extends 'all-projects/base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}
<div class='container' style='margin-left: 30%'> 

  <!-- Looping through ig   -->
  {% for projecthub_item in projecthub %}
<div class="container-fluid">
 <div class="row">
  <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem; height: 58rem;">
                <div>
                <br>
                <p style="font-size:18px; text-align:center;"><b>{{ projecthub_item.project_title }}</b></p>
                <br>
                <img class="card-img-top" height="250px"  src="{{projecthub_item.project_image.url}}" alt="Card image cap"></a>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>    
        </div>
    </div>
    <div style="font-size:25px;" class="card-body">
          <p style="font-size:15px;"><b>{{ projecthub_item.project_details }}</b></p>
                <p style="font-size:15px;"><b>Posted {{ projecthub_item.pub_date|timesince }} ago.</b></p>
                <p style="font-size:15px;"><b>{{ projecthub_item.project_link }}</b></p>
                
                </div>
                <a href="{%url 'new-review' %}" style='color:black' ><i class="far fa-comments fa-4x"></i></a>
                <p style="font-size:15px;"><b>{{ projecthub_item.project_review }}</b></p>
          </div>
            </div>
        </div>
        </div>
        </div>

  {% endfor %}
{% endblock %}